body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #222222;
  min-height: 100%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  color: #222222;
  margin-top: -15px;
}

h2,
h3,
h4,
h6 {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #222222;
}

a {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #02a2b4;
}

a:hover {
  color: #86D0CC;
}

.logo {
  width: 100%;
}

@media (max-width: 996px) {
  .logo {
    width: 70%;
  }
}

header.masthead {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
  animation: 8.8s anim-bg linear infinite;
    -webkit-animation: 8.8s anim-bg linear infinite;
    -moz-animation: 8.8s anim-bg linear infinite;
    -ms-animation: 8.8s anim-bg linear infinite;
    -o-animation: 8.8s anim-bg linear infinite;
    display: block;
}

header.masthead .overlay {
  position: absolute;
  /*background: #343F41;*/
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  animation: 8.8s anim-bg linear infinite;
    -webkit-animation: 8.8s anim-bg linear infinite;
    -moz-animation: 8.8s anim-bg linear infinite;
    -ms-animation: 8.8s anim-bg linear infinite;
    -o-animation: 8.8s anim-bg linear infinite;
    display: block;
}

header.masthead h1 {
  font-size: 4.5rem;
  line-height: 4.3rem;
  padding-top: 20px;
  padding-bottom: 7px;
}

header.masthead h2 {
  font-size: 1.3rem;
}

header.masthead .stay-informed {
  margin-bottom: 1rem !important;
}

@media (min-width: 768px) {
  header.masthead h1 {
    font-size: 6.7rem;
    line-height: 6rem;
    padding-bottom: 7px;
  }
  header.masthead h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  header.masthead {
    padding-top: 2rem;
  }
}

.mb-5, .my-5 {
    margin-bottom: 2rem!important;
}

.showcase .showcase-text {
  padding: 3rem;
}

svg {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  svg {
    max-width: 50%;
  }
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

/* form starting stylings ------------------------------- */

div#mc_embed_signup {
    padding-top: 20px !important;
}

.form-control {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 30px;
  border:0px;
  border-bottom: 2px solid #02a2b4;
  border-radius: 0px;
}

.form-control:focus {
    color: #222;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0rem;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
    padding: .5rem 0rem;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-bottom: 10px;
}

input				{
  font-size:1.2rem;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #02a2b4;
}
input:focus 		{ outline: none !important; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 30px;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  color:#02a2b4;
  outline: none !important;
}

/* BOTTOM BARS ================================= */
.bar 	{
  position:relative;
  display:block;
  width:100%;
}
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#02a2b4;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#02a2b4; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#02a2b4; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#02a2b4; }
  to 	{ width:0; background:transparent; }
}

#inputId:-webkit-autofill {
    background-color: white !important;
}

@media (max-width: 768px) { /* positions input field and button underneath each other with 100% width for tablet and mobile */
  .mc-field-group { display: block; max-width: 100%; }
  #mce-EMAIL { padding: .5em 0 .5em 0; width: 100%; margin: 0; }
  .clear { display: block; width: 100% }
  .button { width: 100%; margin: .5em 0 0 0; }
}

footer.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff !important;
}

@media (min-width: 996px) {
  footer.footer {
    bottom: 0;
    width: 100%;
    background-color: #fff !important;
  }
}


/* BUTTON TEST ================ */

.btn,.btn-primary {
  font-family: 'Oswald', serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 30px;
  border-radius: 0px;
  color: #000;
  background-color: #fff;
  position: relative;
  display: inline-block;
  border: 1px solid #000;
  background-image: linear-gradient(#02a2b4, #02a2b4);
  background-repeat: no-repeat;
  transition: background-size .5s, color .5s;
  background-position: 50% 100%;
  background-size: 100% 15%;
}

.btn-primary:hover {
  color: #222;
  background-color: #fff;
  border-color: #000;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 0rem;
}


.btn:hover {
  background-size: 100% 100%;
  color: #000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #02a2b4;
    border-color: #000;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #fff;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #fff;
}
